/* screen - frame-1 */

.frame-1 {
  background-color: var(--white);
  height: 4547px;
  mix-blend-mode: normal;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}

.frame-1 .x00-navigation-VxPVnb {
  background-color: transparent;
  height: 130px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}

.frame-1 .header-0g4D7W {
  background-color: transparent;
  height: 131px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 1440px;
}

.frame-1 .left-VxPVnb {
  background-color: transparent;
  height: 438px;
  left: 203px;
  position: absolute;
  top: 1030px;
  width: 438px;
}

.frame-1 .pattern-NMlkfS {
  background-color: transparent;
  height: 439px;
  left: -0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 439px;
}

.frame-1 .background-VxPVnb {
  background-color: transparent;
  height: 178px;
  left: 561px;
  position: absolute;
  top: 1886px;
  width: 680px;
}

.frame-1 .rectangle-aEtd8z {
  background-color: var(--white);
  border-radius: 4px;
  height: 178px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 680px;
}

.frame-1 .content-VxPVnb {
  background-color: transparent;
  height: 130px;
  left: 601px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1918px;
  width: 596px;
}

.frame-1 .youll-be-guaranteed-msi9xw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 106px;
  white-space: nowrap;
  width: 596px;
}

.frame-1 .x1-year-full-time-msi9xw {
  background-color: transparent;
  height: 35px;
  left: 0px;
  letter-spacing: -0.19px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .a-full-time-contract-msi9xw {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.15px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .stroke-msi9xw {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 89px;
  width: 28px;
}

.frame-1 .graduation-VxPVnb {
  background-color: transparent;
  height: 24px;
  left: 563px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 1838px;
  width: 676px;
}

.frame-1 .stroke-wNr59v {
  background-color: transparent;
  height: 2px;
  left: 410px;
  position: absolute;
  top: 11px;
  width: 266px;
}

.frame-1 .graduation-wNr59v {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-family: var(--font-family-apercu_pro-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 291px;
  letter-spacing: -0.15px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .stroke-XS3GL8 {
  background-color: transparent;
  height: 3px;
  left: -0px;
  position: absolute;
  top: 11px;
  width: 266px;
}

.frame-1 .x02-VxPVnb {
  background-color: transparent;
  height: 274px;
  left: 921px;
  position: absolute;
  top: 1540px;
  width: 320px;
}

.frame-1 .background-pXWASJ {
  background-color: transparent;
  height: 274px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.frame-1 .rectangle-GR2oKc {
  background-color: var(--white);
  border-radius: 4px;
  height: 274px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 320px;
}

.frame-1 .content-pXWASJ {
  background-color: transparent;
  height: 226px;
  left: 24px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 32px;
  width: 270px;
}

.frame-1 .immerse-yourself-in-eVxcBB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 106px;
  width: 270px;
}

.frame-1 .x4-hours-day-eVxcBB {
  background-color: transparent;
  height: 35px;
  left: 0px;
  letter-spacing: -0.19px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .apprenticeship-commi-eVxcBB {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.15px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .stroke-eVxcBB {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 89px;
  width: 28px;
}

.frame-1 .x01-VxPVnb {
  background-color: transparent;
  height: 274px;
  left: 561px;
  position: absolute;
  top: 1540px;
  width: 320px;
}

.frame-1 .background-e0yUyv {
  background-color: transparent;
  height: 274px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 320px;
}

.frame-1 .rectangle-ikMIKx {
  background-color: var(--white);
  border-radius: 4px;
  height: 274px;
  left: 0px;
  mix-blend-mode: normal;
  position: relative;
  top: 0px;
  width: 320px;
}

.frame-1 .content-e0yUyv {
  background-color: transparent;
  height: 202px;
  left: 25px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 32px;
  width: 270px;
}

.frame-1 .you-will-complete-15-7XOdks {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 106px;
  width: 270px;
}

.frame-1 .x3-hours-day-7XOdks {
  background-color: transparent;
  height: 35px;
  left: 0px;
  letter-spacing: -0.19px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 32px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .study-commitment-7XOdks {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.15px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .stroke-7XOdks {
  background-color: transparent;
  height: 1px;
  left: -0px;
  position: absolute;
  top: 89px;
  width: 28px;
}

.frame-1 .left-5ArFWQ {
  background-color: transparent;
  height: 524px;
  left: 201px;
  position: absolute;
  top: 1540px;
  width: 320px;
}

.frame-1 .background-Tdr2P9 {
  background-color: var(--white);
  border-radius: 4px;
  height: 524px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 320px;
}

.frame-1 .stroke-Tdr2P9 {
  background-color: transparent;
  height: 3px;
  left: 27px;
  position: absolute;
  top: 310px;
  width: 266px;
}

.frame-1 .content-Tdr2P9 {
  background-color: transparent;
  height: 461px;
  left: 44px;
  position: absolute;
  top: 32px;
  width: 167px;
}

.frame-1 .x02-hxM5WV {
  background-color: transparent;
  height: 120px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 341px;
  width: 167px;
}

.frame-1 .living-stipend-840-NepGU4 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 72px;
  width: 201px;
}

.frame-1 .span0-Iy0xao {
  letter-spacing: -0.03px;
}

.frame-1 .span1-Iy0xao {
  letter-spacing: -0.03px;
}

.frame-1 .tuition-22900-NepGU4 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 125px;
}

.frame-1 .span0-qqhwbJ {
  letter-spacing: -0.03px;
}

.frame-1 .span1-qqhwbJ {
  letter-spacing: -0.03px;
}

.frame-1 .x01-hxM5WV {
  background-color: transparent;
  height: 91px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 160px;
}

.frame-1 .x31300-cQf32Q {
  background-color: transparent;
  color: var(--fuscous-gray);
  font-family: var(--font-family-apercu_pro-light);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 300;
  height: 34px;
  left: 0px;
  letter-spacing: -0.44px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 57px;
  width: 160px;
}

.frame-1 .fellowship-value-cQf32Q {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.15px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .our-scholarships-are-VxPVnb {
  background-color: transparent;
  height: auto;
  left: 760px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1258px;
  width: 479px;
}

.frame-1 .about-the-scholarshi-VxPVnb {
  background-color: transparent;
  height: auto;
  left: 760px;
  letter-spacing: -0.60px;
  line-height: 56px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 1106px;
  width: 479px;
}

.frame-1 .background-5ArFWQ {
  background-color: transparent;
  height: 257px;
  left: 880px;
  position: absolute;
  top: 613px;
  width: 560px;
}

.frame-1 .pattern-jSsUgw {
  background-color: transparent;
  height: 259px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 562px;
}

.frame-1 .table-VxPVnb {
  background-color: transparent;
  height: 346px;
  left: 800px;
  position: absolute;
  top: 368px;
  width: 480px;
}

.frame-1 .x02-113oY5 {
  background-color: transparent;
  height: 200px;
  left: 0px;
  position: absolute;
  top: 146px;
  width: 480px;
}

.frame-1 .rectangle-k3aUjY {
  background-color: transparent;
  height: 200px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: -0px;
  width: 480px;
}

.frame-1 .text-k3aUjY {
  background-color: transparent;
  height: 120px;
  left: 40px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 40px;
  width: 345px;
}

.frame-1 .start-date-3-aug-202-AiXUNa {
  background-color: transparent;
  height: auto;
  left: 240px;
  letter-spacing: -0.16px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 72px;
  width: 115px;
}

.frame-1 .span0-8xCBmM {
  letter-spacing: -0.03px;
}

.frame-1 .span1-8xCBmM {
  letter-spacing: -0.03px;
}

.frame-1 .application-deadline-AiXUNa {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 72px;
  width: 144px;
}

.frame-1 .span0-Rz98OS {
  letter-spacing: -0.03px;
}

.frame-1 .span1-Rz98OS {
  letter-spacing: -0.03px;
}

.frame-1 .duration-1-year-full-AiXUNa {
  background-color: transparent;
  height: auto;
  left: 240px;
  letter-spacing: -0.16px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 106px;
}

.frame-1 .span0-VNO2ay {
  letter-spacing: -0.03px;
}

.frame-1 .span1-VNO2ay {
  letter-spacing: -0.03px;
}

.frame-1 .location-bangkok-AiXUNa {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 62px;
}

.frame-1 .span0-hUDqzf {
  letter-spacing: -0.03px;
}

.frame-1 .span1-hUDqzf {
  letter-spacing: -0.03px;
}

.frame-1 .x01-113oY5 {
  background-color: transparent;
  height: 116px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 480px;
}

.frame-1 .rectangle-LdhzhT {
  background-color: var(--white);
  border-radius: 4px;
  height: 116px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 480px;
}

.frame-1 .text-LdhzhT {
  background-color: transparent;
  height: 67px;
  left: 40px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 25px;
  width: 423px;
}

.frame-1 .application-closes-i-qAxT6H {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.15px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 2px;
  white-space: nowrap;
  width: 161px;
}

.frame-1 .x6-day-22-hrs-56-qAxT6H {
  background-color: transparent;
  color: var(--fuscous-gray-2);
  font-family: var(--font-family-apercu_pro-light);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 0px;
  letter-spacing: -0.27px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 42px;
  white-space: nowrap;
  width: 415px;
}

.frame-1 .x6-day-22-hrs-57-VxPVnb {
  background-color: transparent;
  color: var(--fuscous-gray-2);
  font-family: var(--font-family-apercu_pro-light);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 921px;
  letter-spacing: -0.27px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 303px;
  white-space: nowrap;
  width: 239px;
}

.frame-1 .logo-VxPVnb {
  background-color: transparent;
  height: 80px;
  left: 800px;
  mix-blend-mode: normal;
  position: absolute;
  top: 261px;
  width: 80px;
}

.frame-1 .powered-by-VxPVnb {
  background-color: transparent;
  color: #000000;
  font-family: var(--font-family-apercu_pro-light);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 920px;
  letter-spacing: -0.18px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 0.5;
  position: absolute;
  text-align: left;
  top: 269px;
  white-space: nowrap;
  width: 120px;
}

.frame-1 .icon-VxPVnb {
  background-color: transparent;
  height: 265px;
  left: 421px;
  mix-blend-mode: normal;
  position: absolute;
  top: 162px;
  width: 265px;
}

.frame-1 .harbour-space-has-pa-VxPVnb {
  background-color: transparent;
  height: auto;
  left: 200px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 509px;
  width: 440px;
}

.frame-1 .button-VxPVnb {
  background-color: transparent;
  height: 58px;
  left: 200px;
  position: absolute;
  top: 790px;
  width: 166px;
}

.frame-1 .button-qJElCW {
  background-color: var(--blue-marguerite);
  border-radius: 29px;
  height: 58px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 166px;
}

.frame-1 .insert-text-qJElCW {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-apercu_pro-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 41px;
  letter-spacing: -0.18px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .a-fully-funded-work-VxPVnb {
  background-color: transparent;
  height: auto;
  left: 201px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 405px;
  width: 440px;
}

.frame-1 .ma-interaction-desig-VxPVnb {
  background-color: transparent;
  height: auto;
  left: 200px;
  letter-spacing: -0.60px;
  line-height: 56px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 261px;
  width: 440px;
}

.frame-1 .a-fully-funded-work-5ArFWQ {
  background-color: transparent;
  color: transparent;
  font-family: var(--font-family-apercu_pro-medium);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 202px;
  letter-spacing: -0.33px;
  line-height: 32px;
  position: absolute;
  text-align: left;
  top: 709px;
  white-space: nowrap;
  width: 438px;
}

.frame-1 .span0-zrJ3tY {
  color: var(--fuscous-gray-2);
  font-style: normal;
  letter-spacing: -0.07px;
}

.frame-1 .span1-zrJ3tY {
  font-style: normal;
  letter-spacing: -0.07px;
}

.frame-1 .span2-zrJ3tY {
  font-style: normal;
  letter-spacing: -0.07px;
}

.frame-1 .tuition-22900-VxPVnb {
  background-color: transparent;
  height: auto;
  left: 400px;
  letter-spacing: -0.16px;
  line-height: 24px;
  position: absolute;
  text-align: left;
  top: 1913px;
  width: 94px;
}

.frame-1 .span0-MynMnf {
  letter-spacing: -0.03px;
}

.frame-1 .span1-MynMnf {
  letter-spacing: -0.03px;
}

.frame-1 .x05-quotes-VxPVnb {
  background-color: transparent;
  height: 569px;
  left: -568px;
  position: absolute;
  top: 2234px;
  width: 2480px;
}

.frame-1 .background-xwxs3N {
  background-color: transparent;
  height: 394px;
  left: 680px;
  position: absolute;
  top: 0px;
  width: 1120px;
}

.frame-1 .pattern-UN1ntu {
  background-color: transparent;
  height: 396px;
  left: -1px;
  mix-blend-mode: normal;
  position: absolute;
  top: -1px;
  width: 1122px;
}

.frame-1 .content-xwxs3N {
  background-color: transparent;
  height: 460px;
  left: 0px;
  position: absolute;
  top: 109px;
  width: 2480px;
}

.frame-1 .slider-Dxx2vl {
  background-color: transparent;
  height: 460px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 2480px;
}

.frame-1 .cards-Eyhy2e {
  background-color: transparent;
  height: 460px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 2480px;
}

.frame-1 .x03-xIhtSr {
  background-color: transparent;
  height: 460px;
  left: 1680px;
  position: absolute;
  top: 0px;
  width: 800px;
}

.frame-1 .background-jlR6t3 {
  background-color: transparent;
  height: 460px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 800px;
}

.frame-1 .content-jlR6t3 {
  background-color: transparent;
  height: 357px;
  left: 41px;
  position: absolute;
  top: 39px;
  width: 679px;
}

.frame-1 .inferior-fXuOxA {
  background-color: transparent;
  height: 192px;
  left: 80px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 165px;
  width: 561px;
}

.frame-1 .education-ba-vis-HbAPbW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 169px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .this-fellowship-was-HbAPbW {
  background-color: transparent;
  height: 138px;
  left: 0px;
  letter-spacing: -0.19px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 561px;
}

.frame-1 .superior-fXuOxA {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 679px;
}

.frame-1 .icon-color-social-twitter-xqrhhu {
  background-color: transparent;
  height: 29px;
  left: 649px;
  position: absolute;
  top: 25px;
  width: 30px;
}

.frame-1 .icon-ThpKMk {
  background-color: transparent;
  height: 19px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 18px;
}

.frame-1 .user-xqrhhu {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.frame-1 .info-Z7nH8x {
  background-color: transparent;
  height: 45px;
  left: 101px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 17px;
  width: 189px;
}

.frame-1 .interaction-design-f-093MoJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .irene-pereyra-093MoJ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.15px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .image-Z7nH8x {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 80px;
}

.frame-1 .x02-xIhtSr {
  background-color: transparent;
  height: 460px;
  left: 840px;
  position: absolute;
  top: 0px;
  width: 800px;
}

.frame-1 .background-miiHNv {
  background-color: transparent;
  height: 460px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 800px;
}

.frame-1 .content-miiHNv {
  background-color: transparent;
  height: 357px;
  left: 41px;
  position: absolute;
  top: 39px;
  width: 679px;
}

.frame-1 .inferior-Dy1TEn {
  background-color: transparent;
  height: 192px;
  left: 80px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 165px;
  width: 561px;
}

.frame-1 .education-ba-vis-tQeR03 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 169px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .this-fellowship-was-tQeR03 {
  background-color: transparent;
  height: 138px;
  left: 0px;
  letter-spacing: -0.19px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 561px;
}

.frame-1 .superior-Dy1TEn {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 679px;
}

.frame-1 .icon-color-social-twitter-x1Os7M {
  background-color: transparent;
  height: 29px;
  left: 649px;
  position: absolute;
  top: 25px;
  width: 30px;
}

.frame-1 .icon-LHCqD4 {
  background-color: transparent;
  height: 19px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 18px;
}

.frame-1 .user-x1Os7M {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.frame-1 .info-JcGzDg {
  background-color: transparent;
  height: 45px;
  left: 101px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 17px;
  width: 189px;
}

.frame-1 .interaction-design-f-PBn0lY {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .irene-pereyra-PBn0lY {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.15px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .image-JcGzDg {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 80px;
}

.frame-1 .x01-xIhtSr {
  background-color: transparent;
  height: 460px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 800px;
}

.frame-1 .background-OoI6Ha {
  background-color: transparent;
  height: 460px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 800px;
}

.frame-1 .content-OoI6Ha {
  background-color: transparent;
  height: 357px;
  left: 41px;
  position: absolute;
  top: 39px;
  width: 679px;
}

.frame-1 .inferior-97JsN7 {
  background-color: transparent;
  height: 192px;
  left: 80px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 165px;
  width: 561px;
}

.frame-1 .education-ba-vis-03VhFL {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 169px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .this-fellowship-was-03VhFL {
  background-color: transparent;
  height: 138px;
  left: 0px;
  letter-spacing: -0.19px;
  line-height: 35px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 561px;
}

.frame-1 .superior-97JsN7 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 679px;
}

.frame-1 .icon-color-social-twitter-V0k3h9 {
  background-color: transparent;
  height: 29px;
  left: 649px;
  position: absolute;
  top: 25px;
  width: 30px;
}

.frame-1 .icon-oGW0hp {
  background-color: transparent;
  height: 19px;
  left: 6px;
  mix-blend-mode: normal;
  position: absolute;
  top: 5px;
  width: 18px;
}

.frame-1 .user-V0k3h9 {
  background-color: transparent;
  height: 79px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 290px;
}

.frame-1 .info-6ZzyxL {
  background-color: transparent;
  height: 45px;
  left: 101px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 17px;
  width: 189px;
}

.frame-1 .interaction-design-f-tjq78p {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 22px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .irene-pereyra-tjq78p {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.15px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .image-6ZzyxL {
  background-color: transparent;
  height: 80px;
  left: 0px;
  position: absolute;
  top: -1px;
  width: 80px;
}

.frame-1 .drag-Eyhy2e {
  background-color: transparent;
  height: 57px;
  left: 1380px;
  position: absolute;
  top: 114px;
  width: 117px;
}

.frame-1 .button-ngslgd {
  background-color: var(--blue-marguerite);
  border-radius: 29px;
  height: 57px;
  left: 0px;
  mix-blend-mode: normal;
  opacity: 0.9;
  position: absolute;
  top: 0px;
  width: 117px;
}

.frame-1 .drag-ngslgd {
  background-color: transparent;
  color: var(--white);
  font-family: var(--font-family-apercu_pro-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 39px;
  letter-spacing: -0.18px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .buttons-Dxx2vl {
  background-color: transparent;
  height: 47px;
  left: 560px;
  position: absolute;
  top: 204px;
  width: 1360px;
}

.frame-1 .button-l1spb8 {
  background-color: transparent;
  height: 47px;
  left: 1312px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .oval-u19gUT {
  background-color: var(--white);
  border: 1px solid #ececec;
  border-radius: 24px/23.59px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .icon-color-arrow-right-u19gUT {
  background-color: transparent;
  height: 30px;
  left: 10px;
  position: absolute;
  top: 9px;
  width: 30px;
}

.frame-1 .button-aKw1pa {
  background-color: transparent;
  height: 47px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .oval-hDwSL0 {
  background-color: var(--white);
  border: 1px solid #ececec;
  border-radius: 24px/23.59px;
  height: 47px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .icon-color-arrow-right-hDwSL0 {
  background-color: transparent;
  height: 30px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 30px;
}

.frame-1 .x08-frequently-VxPVnb {
  background-color: transparent;
  height: 1387px;
  left: 146px;
  position: absolute;
  top: 2973px;
  width: 1043px;
}

.frame-1 .questions-fIdxEZ {
  background-color: transparent;
  height: 1210px;
  left: 1px;
  position: absolute;
  top: 176px;
  width: 1042px;
}

.frame-1 .x03-vyRy0l {
  background-color: transparent;
  height: 116px;
  left: 0px;
  position: absolute;
  top: 1094px;
  width: 1042px;
}

.frame-1 .stroke-1jqMIS {
  background-color: transparent;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 113px;
  width: 1041px;
}

.frame-1 .content-1jqMIS {
  background-color: transparent;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 1008px;
}

.frame-1 .button-wo3p2q {
  background-color: transparent;
  height: 48px;
  left: 960px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .oval-vZEsX8 {
  background-color: transparent;
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .x-vZEsX8 {
  background-color: transparent;
  height: 10px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 10px;
}

.frame-1 .question-wo3p2q {
  background-color: transparent;
  height: auto;
  left: 361px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 441px;
}

.frame-1 .program-conditions-wo3p2q {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .x02-vyRy0l {
  background-color: transparent;
  height: 116px;
  left: 0px;
  position: absolute;
  top: 978px;
  width: 1042px;
}

.frame-1 .stroke-FqtgEA {
  background-color: transparent;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 113px;
  width: 1041px;
}

.frame-1 .content-FqtgEA {
  background-color: transparent;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 1008px;
}

.frame-1 .button-F38MRp {
  background-color: transparent;
  height: 48px;
  left: 960px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .oval-9ixSRu {
  background-color: transparent;
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .x-9ixSRu {
  background-color: transparent;
  height: 10px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 10px;
}

.frame-1 .question-F38MRp {
  background-color: transparent;
  height: auto;
  left: 361px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 441px;
}

.frame-1 .program-conditions-F38MRp {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .x02-UnNt2M {
  background-color: transparent;
  height: 116px;
  left: 0px;
  position: absolute;
  top: 862px;
  width: 1042px;
}

.frame-1 .stroke-t42nb6 {
  background-color: transparent;
  height: 3px;
  left: 1px;
  position: absolute;
  top: 113px;
  width: 1041px;
}

.frame-1 .content-t42nb6 {
  background-color: transparent;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 34px;
  width: 1008px;
}

.frame-1 .button-Km0Grn {
  background-color: transparent;
  height: 48px;
  left: 960px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .oval-Rasfqk {
  background-color: transparent;
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .x-Rasfqk {
  background-color: transparent;
  height: 10px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 19px;
  width: 10px;
}

.frame-1 .question-Km0Grn {
  background-color: transparent;
  height: auto;
  left: 361px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: 441px;
}

.frame-1 .program-conditions-Km0Grn {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 16px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .x01-vyRy0l {
  background-color: transparent;
  height: 864px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1042px;
}

.frame-1 .stroke-f0PNZ2 {
  background-color: transparent;
  height: 865px;
  left: 1px;
  position: absolute;
  top: -1px;
  width: 1041px;
}

.frame-1 .content-f0PNZ2 {
  background-color: transparent;
  height: 764px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 1008px;
}

.frame-1 .button-drop-down-oVPWoG {
  background-color: transparent;
  height: 48px;
  left: 960px;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .oval-6xjuwc {
  background-color: var(--blue-marguerite);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  mix-blend-mode: normal;
  position: absolute;
  top: 0px;
  width: 48px;
}

.frame-1 .x-6xjuwc {
  background-color: transparent;
  height: 2px;
  left: 19px;
  mix-blend-mode: normal;
  position: absolute;
  top: 23px;
  width: 10px;
}

.frame-1 .text-oVPWoG {
  background-color: transparent;
  height: 748px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 16px;
  width: 920px;
}

.frame-1 .what-are-my-obligati-NDnsqd {
  background-color: transparent;
  height: auto;
  left: 361px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 559px;
}

.frame-1 .span0-ztmAca {
  letter-spacing: -0.07px;
}

.frame-1 .span1-ztmAca {
  letter-spacing: -0.07px;
}

.frame-1 .program-conditions-NDnsqd {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.33px;
  line-height: 32px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .superior-fIdxEZ {
  background-color: transparent;
  height: 112px;
  left: 0px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 1043px;
}

.frame-1 .filter-K8hhYg {
  background-color: transparent;
  height: 58px;
  left: 726px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 27px;
  width: 317px;
}

.frame-1 .drop-down-IT8zOf {
  background-color: transparent;
  height: 58px;
  left: 82px;
  position: absolute;
  top: 0px;
  width: 235px;
}

.frame-1 .drop-down-Ey1ZsE {
  background-color: transparent;
  border-radius: 29px;
  height: 58px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 235px;
}

.frame-1 .content-Ey1ZsE {
  background-color: transparent;
  height: 30px;
  left: 24px;
  mix-blend-mode: normal;
  overflow: hidden;
  position: absolute;
  top: 14px;
  width: 195px;
}

.frame-1 .icon-color-arrow-right-3EYZx1 {
  background-color: transparent;
  height: 30px;
  left: 165px;
  position: absolute;
  top: 0px;
  width: 30px;
}

.frame-1 .program-conditions-3EYZx1 {
  background-color: transparent;
  color: var(--blue-marguerite);
  font-family: var(--font-family-apercu_pro-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: -0.18px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 3px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .filter-by-IT8zOf {
  background-color: transparent;
  color: var(--granite-gray);
  font-family: var(--font-family-apercu_pro-light);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 0px;
  letter-spacing: -0.16px;
  line-height: 24px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: right;
  top: 17px;
  white-space: nowrap;
  width: auto;
}

.frame-1 .frequently-asked-que-K8hhYg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: -0.60px;
  line-height: 56px;
  mix-blend-mode: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 441px;
}

.frame-1 .group-21-VxPVnb {
  background-color: transparent;
  height: 380px;
  left: 231px;
  position: absolute;
  top: 1059px;
  width: 380px;
}
