@font-face {
  font-family: "Apercu Pro-Light";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/apercu-light-pro.otf") format("opentype");
}
@font-face {
  font-family: "Apercu Pro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/apercu_medium_pro.otf") format("opentype");
}

.screen textarea:focus,
.screen input:focus {
  outline: none;
}

.screen * {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.screen div {
  -webkit-text-size-adjust: none;
}

.screen a {
  display: contents;
  text-decoration: none;
}

.container-center-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  pointer-events: none;
  width: 100%;
}

.container-center-horizontal > * {
  flex-shrink: 0;
  pointer-events: auto;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
